<p>Inserer votre id:
<input [(ngModel)]="id">
</p>
<p>Mon id est: {{id}}</p>
<input readonly [(ngModel)]="id">
<br>
<h3 class="p-3 text-center">Angular - Display a list of pokemons with ngFor</h3>
<p>l'id de mon pokemon selectionné: {{selectedPokemonId}}</p>
<p>Recherche par nom: 
<input [(ngModel)]="searchPokemonName">
</p>
<label for="pokemons">Choose a pokemon: </label>
<select id="pokemons" [(ngModel)]="selectedPokemonId">
    <option *ngFor="let pokemon of pokemons | filterPokemonPipe:'name':searchPokemonName" [value]="pokemon.id">
      {{pokemon.name}}
    </option>
</select>
<button (click)="go()">GO</button>
<br>
<div *ngIf="pokeDetail">
  Le pokemon sélectionné est {{pokeDetail.name}}
  <ul>
    <li *ngFor="let ability of pokeDetail.abilities">
      {{ability.ability.name}}
    </li>
  </ul>
</div>
